.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1px;
  background-color: hsl(0, 0%, 90%)
}

.App > * {
  flex: 1;
}

.Draggables,
.Droppables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  gap: 1rem;
}

.Droppable,
.Draggable {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-width: 6rem;
  min-height: 2rem;
  border-radius: 0.5rem;
}

.Droppable {
  position: relative;
  background-color: hwb(0 98% 2%);
  border: 3px dashed rgb(51, 51, 51);
}

.Draggable {
  position: absolute;
  cursor: grab;
  z-index: 1;
  transition: background 0.3s ease;
  background-color: hsl(0, 0%, 95%);
  border: 3px solid hsl(0, 0%, 90%);
}